.number-question{
    display: flex;
    font-size: 1.2rem;
    margin: 0.6rem 0;
    margin-right: 10px;
    font-weight: bold;
    color: #333;
    width: 30px !important;
    height: 30px !important;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.enunciado, .alternatives {
    display: flex;
    margin: 0 auto;
    width: 835px;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

#questoes-container {
   margin-bottom: 100px;
}

.voltar {
    margin-right: 100px;
}